# connecting to mysql

!pip install mysql-connector

!pip install pymysql

In [1]:
import os
import pymysql
import pandas as pd

In [2]:
import mysql.connector as sql

In [3]:
host = os.getenv('MYSQL_HOST')
port = os.getenv('MYSQL_PORT')
user = os.getenv('MYSQL_USER')
password = os.getenv('MYSQL_PASSWORD')
database = os.getenv('MYSQL_DATABASE')

In [4]:
conn = pymysql.connect(
    host=host,
    port=int(3306),
    user="root",
    passwd="T#9542@naruto",
    db=database,
    charset='utf8mb4'
)

In [5]:
print(pd.read_sql_query("show databases",conn))

             Database
0              edyoda
1  information_schema
2               mysql
3  performance_schema
4                 sys
5             thirudb

In [6]:
cursor = conn.cursor()

In [7]:
print(pd.read_sql_query("show databases",conn))

             Database
0              edyoda
1  information_schema
2               mysql
3  performance_schema
4                 sys
5             thirudb

In [19]:
query = "use edyoda"
cursor.execute(query)

0

In [20]:
print(pd.read_sql_query("select database()",conn))

  database()
0     edyoda

In [21]:
query = "create table SalesPeople(Snum INT NOT NULL PRIMARY KEY, Sname VARCHAR(20) not null unique,City VARCHAR(20),Comm int)"
cursor.execute(query)

OperationalError: (1050, "Table 'salespeople' already exists")

In [22]:
print(pd.read_sql_query("select * from SalesPeople",conn))

   Snum    Sname       City  Comm
0  1001     Peel     London    12
1  1002   Serres    Sanjose    13
2  1003  Axelrod    Newyork    10
3  1004   Motika  Barcelona    15
4  1007   Rifkin  Barcelona    15

In [59]:
query="insert into SalesPeople(Snum,Sname,City,Comm) VALUES(1001,'Peel','London',12),(1002,'Serres','Sanjose',13),(1004,'Motika','Barcelona',15),(1007,'Rifkin','Barcelona',15),(1003,'Axelrod','Newyork',10);"
cursor.execute(query)

5

In [23]:
print(pd.read_sql_query("select * from SalesPeople",conn))

   Snum    Sname       City  Comm
0  1001     Peel     London    12
1  1002   Serres    Sanjose    13
2  1003  Axelrod    Newyork    10
3  1004   Motika  Barcelona    15
4  1007   Rifkin  Barcelona    15

In [24]:
print(pd.read_sql_query("select * from Customers",conn))

   Cnum     Cname     City  Snum
0  2001   Hoffman   London  1001
1  2002  Giovanni     Rome  1003
2  2003       Liu  Sanjose  1002
3  2004     Grass   Berlin  1002
4  2006   Clemens   London  1001
5  2007   Pereira     Rome  1004
6  2008  Cisneros  Sanjose  1007

In [27]:
query = "CREATE TABLE Orders (Onum INT NOT NULL PRIMARY KEY,Amt DECIMAL(10,2),Odate DATE,Cnum INT,Snum INT,FOREIGN KEY(Cnum) REFERENCES Customers (Cnum),FOREIGN KEY(Snum) REFERENCES SalesPeople (Snum));"
cursor.execute(query)

0

In [29]:
query ="INSERT INTO ORDERS(Onum,Amt,Odate,Cnum,Snum) VALUES(3001,18.69,'1990-10-3',2008,1007);"
cursor.execute(query)

1

In [40]:
query ="INSERT INTO ORDERS(Onum,Amt,Odate,Cnum,Snum) VALUES(3003,767.19,'1990-10-3',2001,1001),(3002,1900.10,'1990-10-3',2007,1004),(3005,5160.45,'1990-10-3',2003,1002),(3006,1098.16,'1990-10-3',2008,1007),(3009,1713.23,'1990-10-4',2002,1003),(3007,75.75,'1990-10-4',2004,1002),(3008,4273.00,'1990-10-5',2006,1001),(3010,1309.95,'1990-10-6',2004,1002),(3011,9891.88,'1990-10-6',2006,1001);"
cursor.execute(query)

9

In [41]:
print(pd.read_sql_query("select * from orders",conn))

   Onum      Amt       Odate  Cnum  Snum
0  3002  1900.10  1990-10-03  2007  1004
1  3003   767.19  1990-10-03  2001  1001
2  3005  5160.45  1990-10-03  2003  1002
3  3006  1098.16  1990-10-03  2008  1007
4  3007    75.75  1990-10-04  2004  1002
5  3008  4273.00  1990-10-05  2006  1001
6  3009  1713.23  1990-10-04  2002  1003
7  3010  1309.95  1990-10-06  2004  1002
8  3011  9891.88  1990-10-06  2006  1001

In [42]:
print(pd.read_sql_query("commit",conn))

TypeError: 'NoneType' object is not iterable

<h3>On the basis of above tables perform given below questions:</h3>
<ol>
    <li>Count the number of Salesperson whose name begin with ‘a’/’A’.</li>
    <li>Display all the Salesperson whose all orders worth is more than Rs. 2000.</li>
    <li>Count the number of Salesperson belonging to Newyork.</li>
    <li>Display the number of Salespeople belonging to London and belonging to Paris.</li>
    <li>Display the number of orders taken by each Salesperson and their date of orders</li></ol>

#### 1.Count the number of Salesperson whose name begin with ‘a’/’A’.

In [34]:
print(pd.read_sql_query("select count(*) from salespeople where Sname like'a%' or sname like'A%'",conn))

   count(*)
0         1

#### 2.Display all the Salesperson whose all orders worth is more than Rs. 2000.

In [43]:
print(pd.read_sql_query
      ("select Sname from salespeople where snum in (select Snum as sno  from orders group by Snum having sum(Amt)>2000);",conn))

    Sname
0    Peel
1  Serres

#### 3.Count the number of Salesperson belonging to Newyork.

In [44]:
print(pd.read_sql_query("select Sname from salespeople where City='Newyork'",conn))

     Sname
0  Axelrod

#### 4.Display the number of Salespeople belonging to London and belonging to Paris.

In [46]:
print(pd.read_sql_query("select Sname from salespeople where City in('London','Paris')",conn))

  Sname
0  Peel

#### 5.Display the number of orders taken by each Salesperson and their date of orders

In [48]:
print(pd.read_sql_query("select Snum as snum,Odate as odate,count(Onum)as conum from orders group by Snum,Odate",conn))

   snum       odate  conum
0  1004  1990-10-03      1
1  1001  1990-10-03      1
2  1002  1990-10-03      1
3  1007  1990-10-03      1
4  1002  1990-10-04      1
5  1001  1990-10-05      1
6  1003  1990-10-04      1
7  1002  1990-10-06      1
8  1001  1990-10-06      1

#### joining with salespeople

In [47]:
print(pd.read_sql_query("select Sname as sname,ord.snum,ord.odate,ord.conum from salespeople,(select Snum as snum,Odate as odate,count(Onum)as conum from orders group by Snum,Odate) as ord where salespeople.Snum = ord.Snum;",conn))

     sname  snum       odate  conum
0  Axelrod  1003  1990-10-04      1
1   Motika  1004  1990-10-03      1
2     Peel  1001  1990-10-03      1
3     Peel  1001  1990-10-05      1
4     Peel  1001  1990-10-06      1
5   Rifkin  1007  1990-10-03      1
6   Serres  1002  1990-10-03      1
7   Serres  1002  1990-10-04      1
8   Serres  1002  1990-10-06      1

In [17]:
print(pd.read_sql_query("select * from Edyoda.Cusotmers",conn))

DatabaseError: Execution failed on sql 'select * from Edyoda.Cusotmers': (1146, "Table 'edyoda.cusotmers' doesn't exist")